.main-header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-left {
  margin-left: 10px;
}

.card-wrapper {
  margin: 5px;
}

.background-lav {
  background-color: #ddd;
  height: 90vh;
}
